body {
    display: flex;
    flex-direction: column;
    background-color: slategrey;
}

header {
    justify-items: center;
}

h1 {
    color: lightgoldenrodyellow;
}

#title {
    transform: translate(0px, -90%);
    justify-items: center;
    background-color: #A50021;
}

.horseimg1 {
    display: flex;
    justify-content: end;
    transform: translate(-5%, -80px);
}

.horseimg1 img {
        height: 20%;
        width: 30%;
}

.container article p {
   width: 60%;
}

.container{
    margin-inline: auto;
    padding-inline: 1rem;
}

nav ul {
    list-style-type: none;
    gap: 70px;
}

aside img {
    height: auto;
    width: 10px;
}

aside{
    display: flex;
    align-content: end;
    max-width: auto;
    background-color: #F0EEE9;
}

nav li {
    float: left;
    margin-right: 30px;
    background-color: black;
}

nav a {
    text-decoration: none;
    color: white;

}

nav a:hover{
    animation-name: rainbow;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes rainbow {
    from{color: blue}
    to{color: red}
}